body {
    font-family: "Comfortaa", cursive;
    min-height: 100%;
    min-width: 100%;
    background-color: #272b30;
    color: #fff;
}

header img{
    max-height: 30vh;
    object-fit: cover;
}

nav {
    background-color: rgb(58, 73, 123) !important;
    margin-inline: auto;
    margin-top: -30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.7);
}

.nav-item .nav-link.active, .nav-item .nav-link:hover {
    color: #09c !important;
    transition: color 0.5s;
}

a, p, span {
    color: inherit !important;
}

ul {
    list-style-position: inside;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nerko One", cursive;
    color: #fff !important;
}

.home .card {
    filter: grayscale(0.7);
    transition: transform 0.5s, filter 0.5s 0.1s;
}

.home .card:hover {
    transform: scale(1.05);
    filter: grayscale(0);
}

.card-body .card-text, .badge-color{
    color: #fff !important;
}

.badge-color {
    background-color: #32383e !important;
}